@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-mono;
    }

    :root {
        --background: 272 87% 97%;
        --foreground: 272 90% 8%;
        --card: 272 87% 97%;
        --card-foreground: 272 90% 8%;
        --popover: 272 87% 97%;
        --popover-foreground: 272 90% 8%;
        --primary: 268 85% 37%;
        --primary-foreground: 272 87% 97%;
        --secondary: 48 89% 71%;
        --secondary-foreground: 272 90% 8%;
        --muted: 272 86% 20%;
        --muted-foreground: 272 90% 70%;
        --accent: 96 90% 61%;
        --accent-foreground: 272 90% 8%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 272 90% 8%;
        --border: 272 86% 20%;
        --input: 272 86% 20%;
        --ring: 96 90% 40%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 272 87% 3%;
        --foreground: 272 90% 92%;
        --card: 272 87% 3%;
        --card-foreground: 272 90% 92%;
        --popover: 272 87% 3%;
        --popover-foreground: 272 90% 92%;
        --primary: 268 85% 63%;
        --primary-foreground: 272 87% 3%;
        --secondary: 48 89% 29%;
        --secondary-foreground: 272 87% 3%;
        --muted: 272 86% 80%;
        --muted-foreground: 272 90% 92%;
        --accent: 96 90% 39%;
        --accent-foreground: 272 87% 3%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 272 88% 10%;
        --border: 272 87% 60%;
        --input: 272 86% 80%;
        --ring: 96 90% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}