@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 98%;
        --foreground: 207 35% 6%;
        --card: 210 40% 98%;
        --card-foreground: 207 35% 6%;
        --popover: 210 40% 98%;
        --popover-foreground: 207 35% 6%;
        --primary: 206 80% 25%;
        --primary-foreground: 207 35% 6%;
        --secondary: 239 32% 70%;
        --secondary-foreground: 207 35% 6%;
        --muted: 210 39% 20%;
        --muted-foreground: 207 35% 70%;
        --accent: 206 86% 71%;
        --accent-foreground: 207 35% 6%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 207 35% 6%;
        --border: 210 39% 20%;
        --input: 210 39% 20%;
        --ring: 206 86% 40%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 210 40% 2%;
        --foreground: 207 35% 94%;
        --card: 210 40% 2%;
        --card-foreground: 207 35% 94%;
        --popover: 210 40% 2%;
        --popover-foreground: 207 35% 94%;
        --primary: 206 80% 25%;
        --primary-foreground: 207 35% 94%;
        --secondary: 239 32% 30%;
        --secondary-foreground: 207 35% 94%;
        --muted: 210 39% 80%;
        --muted-foreground: 207 35% 94%;
        --accent: 206 86% 29%;
        --accent-foreground: 207 35% 94%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 208 33% 10%;
        --border: 210 40% 60%;
        --input: 210 39% 80%;
        --ring: 206 86% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}